.reveal .slides {
    .slide-2 {
        img {
            border-radius: 50%;
            max-height: 10vw;
            max-width: 10vw;
        }
    }
    
    .slide-4 {
        li {
            font-size: 1.7rem;
        }
    }

    .slide-6 {
        img {
            max-width: 50vw;
        }
    }

    .slide-9 {
        img {
            max-width: 15vw;
        }
    }

    .slide-10 {
        .event-images {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            img {
                max-width: 20vw;
            }
        }
    }

    .slide-11 {
        img {
            max-width: 30vw;
        }
    }

    .slide-12 {
        img {
            max-width: 30vw;
        }
    }

    .slide-13 {
        img {
            max-width: 30vw;
        }
    }

    .slide-14 {
        img {
            max-width: 40vw;
        }
    }

    slide-14-1 {
        img {
            max-width: 40vw;
        }
    }

    .slide-15 {
        img {
            max-width: 30vw;
        }
    }

    .slide-16 {
        img {
            max-width: 20vw;
        }
    }

    .slide-18 {
        img {
            max-width: 40vw;
        }
    }

    .slide-19 {
        img {
            max-width: 30vw;
        }
    }

    .slide-22 {
        img {
            max-width: 50vw;
        }
    }

    .slide-25 {
        img {
            max-width: 50vw;
        }
    }

    .slide-26 {
        img {
            max-width: 40vw;
        }
    }

    .slide-27 {
        img {
            max-width: 15vw;
        }
    }

    .slide-33 {
        img {
            max-width: 30vw;
        }   
    }

    .slide-34 {
        img {
            max-width: 30vw;
        }   
    }

    .slide-36 {
        img {
            max-width: 30vw;
        }   
    }

    .slide-37 {
        img {
            max-width: 20vw;
        }   
    }

    .slide-42 {
        img {
            max-width: 10vw;
        }

        .social-medias {
            font-size: 2rem;
        }
    }
}
